html,
body {
    margin: 0;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

:root {
    --navfooter-font-size: 17px;
}

.nfs {
    font-size: var(--navfooter-font-size);
}

.tfs {
    font-size: 40px;
}

.ntfs {
    font-size: 24px;
}

.alb {
    align-items: flex-start;
}

.fr {
    display: flex;
    flex-direction: row;
}

.fc {
    display: flex;
    flex-direction: column;
}

.dg {
    display: grid;
}

.gs {
    gap: 1rem;
    margin: 0;
}

.mh {
    max-height: 2rem;
}


/*==================Navbar================*/

.nav-container {
    margin: 0;
    padding: 0rem 2rem 0rem 2rem;
    list-style: none;
    justify-items: flex-start;
    align-items: center;
    color: #fff;
    background-color: #000;
}

.ul {
    list-style: none;
    gap: 1rem;
}

.covid,
.login,
.products,
.global {
    min-width: fit-content;
}

.wdn {
    display: none;
}

nav ul li:hover {
    background-color: #333333;
    border-radius: 1.5rem;
    padding: 0.5rem;
}

nav ul li {
    padding: 0.5rem;
    margin: 0;
}

nav ul.third {
    margin-left: auto;
}

.sign-up {
    grid-area: sign-up;
    background-color: #fff;
    color: #000;
    border-radius: 1.5rem;
    padding: 0.5rem;
    min-width: 3.5rem;
    text-align: center;
}

.uber {
    font-size: 24px;
}


/*==================Get paid=================*/

.uber-paid-wrap {
    display: grid;
    position: absolute;
    background-color: #fff;
    margin: 7%;
    padding: 2.5rem;
    max-width: 30rem;
}

.hdn img {
    width: 100%;
    margin-bottom: -0.5rem;
}

.uber-paid-wrap button {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    background-color: #000;
    width: 12rem;
    height: 3rem;
}

.uber-type {
    justify-content: space-around;
}

.icon-wrapper {
    align-items: center;
    justify-content: flex-start;
    width: 3rem;
}

.icon-wrapper p {
    margin: 0;
}

.icon-wrapper i {
    margin: 1rem;
}

.uber-paid-wrap h1 {
    font-size: 50px;
}


/*==========safety==============*/

#safety {
    margin: 0;
    padding: 0 7% 0 7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "safety-title  safety-title" "img-first img-second" "our setting" "with the" "p-wrapper view";
}

#safety p {
    max-width: 558px;
}

#safety div {
    max-width: 558px;
}

.safety-title {
    grid-area: safety-title;
}

.img-first {
    grid-area: img-first;
    margin-right: 1rem;
}

.img-second {
    grid-area: img-second;
}

.our {
    grid-area: our;
}

.setting {
    grid-area: setting;
}

.with {
    grid-area: with;
}

.the {
    grid-area: the;
}

.p-wrapper {
    grid-area: p-wrapper;
    gap: 1rem;
}

.view {
    grid-area: view;
}

.safety-wrapper {
    display: grid;
}

#safety img {
    width: 90%;
}

.lb {
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    width: fit-content;
}

.p-wrapper {
    justify-content: flex-start;
}


/* =================Uber businesss===================*/

#uber-for-business {
    display: grid;
    background-image: url("https://www.uber-assets.com/image/upload/v1613106985/assets/0e/47aa71-35cb-459a-a975-78c61ea300e2/original/HP-U4B-NYC-bkg.png");
    padding: 7%;
    background-size: cover;
}

.uber-paid-wrapper button {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    background-color: #000;
    width: 8rem;
    height: 3rem;
}

.uber-paid-wrapper img {
    width: auto;
}


/* ======================footer====================*/

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header . . ." "company products global travel" "social-icons english . appstores " "inc . . judicial";
    background-color: #000;
    color: #fff;
    padding: 3rem;
}

footer header {
    grid-area: header;
}

i {
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer h4 {
    font-size: 24px;
}

.company-title {
    grid-area: company;
}

.products-title {
    grid-area: products;
}

.global-title {
    grid-area: global;
}

.travel-title {
    grid-area: travel;
}

.social-icons {
    grid-area: social-icons;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.english {
    grid-area: english;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.appstores {
    grid-area: appstores;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.inc {
    grid-area: inc;
}

.judicial {
    grid-area: judicial;
    display: grid;
    grid-template-columns: 1fr 1.7fr 1.4fr;
}

@media (max-width: 1024px) {
    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "header . " "company products" " global travel" "social-icons ." " english  appstores " "inc judicial";
        background-color: #000;
        color: #fff;
        gap: 3rem 3rem;
        padding: 3rem;
    }
    .content-wrapper {
        grid-template-columns: 1fr;
    }
    .uber-paid-wrap {
        position: relative;
        margin: 0;
        padding: 0;
    }
    .dn {
        display: none;
    }
    .tfs {
        font-size: 30px;
    }
    #safety {
        margin: 0;
        padding: 0 0.2rem 0 0.2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "safety-title" "img-first" "our" "with" "p-wrapper" "img-second" "setting" " the" " view";
    }
}

@media (max-width: 600px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header" "company" "products" "global" "travel" "social-icons" "english" "appstores" "inc" "judicial";
        padding: 0.2rem;
    }
    .dn {
        display: none;
    }
    .uber-paid-wrap {
        padding: 0.2rem;
        width: fit-content;
        font-size: 20px;
    }
    .uber-paid-wrap h1 {
        font-size: 36px;
    }
    #safety {
        padding: 0.2rem;
    }
}